<%-include('partials/header')%>
	<script>
		let startDate = new Date();
		let elapsedTime = 0;
		const focus = function() {
			console.log('Hello World')
			startDate = new Date();
		};
		const blur = function() {
			const endDate = new Date();
			const spentTime = endDate.getTime() - startDate.getTime();
			elapsedTime += spentTime;
		};
		const userAction = async (id, elapsedTime) => {
			const bodyJSON = {
				article_id: id,
				time: elapsedTime
			}
			url = 'http://localhost:3000/timespent/' + id + '/' + elapsedTime
			const response = await fetch(url, {
				method: 'GET',
			});
			const myJson = await response.json(); //extract JSON from the http response
		}
		const beforeunload = function() {
			let formObj = document.getElementById('form')
			let articleObj = document.getElementById('article_id')
			const endDate = new Date();
			const spentTime = endDate.getTime() - startDate.getTime();
			elapsedTime += spentTime;
			console.log('Hjk', elapsedTime)
			userAction(articleObj.value, elapsedTime)
		};
		window.addEventListener('focus', focus);
		window.addEventListener('blur', blur);
		window.addEventListener('beforeunload', beforeunload);
	</script>

	<div class="jumbotron" style="margin:70px; justify-content:center; padding:15px;">
		<p>
			<%= article.article.text%>
		</p>

	</div>
	<form action="http://localhost:3000/timespent" method="POST" id="form" name="myform">
		<input type="hidden" name="article_id" id="article_id" value="<%= article._id%>">
	</form>

	<div class="thumbnail" style="margin-left:70px; padding: 0;">
		<div class="caption-full" style="padding: 9px;">
			<% if (article.rating === 0) { %>
				<h5>
					<em>No reviews yet.</em>
				</h5>
				<% } else { %>
					<p>
						<span class="fa fa-star checked" style="color: orange;"></span>
						<span class="fa fa-star <% if (article.rating > 1.5) { %> checked <% } %>" style="color: orange;"></span>
						<span class="fa fa-star <% if (article.rating > 2.5) { %> checked <% } %>" style="color: orange;"></span>
						<span class="fa fa-star <% if (article.rating > 3.5) { %> checked <% } %>" style="color: orange;"></span>
						<span class="fa fa-star <% if (article.rating > 4.5) { %> checked <% } %>" style="color: orange;"></span>
						<em>(Total reviews:
							<%= article.reviews.length %>)</em>
					</p>
					<p>
						Current article rating:
						<strong>
							<%= article.rating.toFixed(2) %>
						</strong>
					</p>
					<p>
						<h4>Latest reviews for this article:</h4>
					</p>
					<hr style="margin-top: 0;">
					<% article.reviews.slice(0, 5).forEach(function(review){ %>
						<div class="row">
							<div class="col-md-3">
								<%- '<span class="fa fa-star checked" style="color: orange;"></span>'.repeat(review.rating) %>
									<%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
										<div>Review by:
											<strong>
												<%= review.author.username %>
											</strong>
										</div>
										<span>
											<em>
												<%= review.updatedAt.toDateString() %>
											</em>
										</span>
							</div>
							<div class="col-md-9">
								<p style="text-align: justify; word-wrap: break-word;">
									<%= review.text %>
								</p>
								<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
									<a class="btn btn-outline-warning" href="/articles/<%=article._id %>/reviews/<%=review._id %>/edit">Edit</a>
									<form id="delete-form" style="display:inline;" action="/articles/<%=article._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
										<input type="submit" class="btn btn-outline-danger" value="Delete">
									</form>
									<% } %>
							</div>
						</div>
						<hr>
						<% }); %>
							<div style="margin-bottom: 10px;">
								<h4>
									<a href="/articles/<%= article._id %>/reviews">
										<i class="fa fa-search" aria-hidden="true"></i> See all reviews</a>
								</h4>
							</div>
							<% } %>
								<div >
									<a class="btn btn-outline-primary btn-xs <% if (currentUser && article.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/articles/<%= article._id %>/reviews/new">
										Write a New Review</a>
								</div>
		</div>
	</div>
	<a class="btn btn-outline-primary" href="/articles" style="margin-left:70px; margin-top:50px; margin-bottom:70px;"> Back to all Articles</a>